mixin navbarMain(logo, active)
  nav.navbar-main
    if logo == "logo"
      .navbar-main__logo-container
        a(href="./" id="bellpepper-logo")
          include svg/bellpepper-design.svg
        a(href="./" id="bellpepper-text")
          p.bellpepper-font Bell Pepper Design
          //- include svg/bellpepper-text.svg
    
    ul.navbar-main__list

      li.navbar-main__item
        a.navbar-main__link(
          id="design-link" 
          href="./graphic-design" 
          class= active == "design" ? "active" : ""
        )
          p Design
          .underline

      li.navbar-main__item
        a.navbar-main__link(
          id="marketing-link" 
          href="./marketing" 
          class= active == "marketing" ? "active" : ""
        )
          p Marketing
          .underline

      li.navbar-main__item
        a.navbar-main__link(
          id="events-link" 
          href="./events" 
          class= active == "events" ? "active" : ""
        )
          p Events
          .underline
          
    